<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JCFC Paintings</title>
  </head>
  <body>

    <style> <%- include('style.css') %> </style>

    <style> <%- include('card.css') %> </style>

    <style><%- include('title.css') %></style>

    <section class="title">
      <h1 id="welcome">JC & FC</h1>
      <p id="description">Galleria dei quadri di Jan & Fritz</p>
      <a href="https://www.instagram.com/jc_fc_paintings/" target="_blank">
        <picture>
          <source srcset="/img/insta_dark.png" media="(prefers-color-scheme: dark)">
          <img class="insta" src="/img/insta.png">
        </picture>
      </a>
      <p id="description">Contattaci su instagram per ordinare un quadro su misura!</p>
    </section>


    <div class="card-wrapper">
      <section class="cards">

        <!-- quel culuru da Jan -->
        <%- include('card.ejs', {id: 0, title: '145cm x 93cm', p: '450.- CHF'}) %>

        <!-- Quel rosa da Asia -->
        <%- include('card.ejs', {id: 3, title: '145cm x 93cm', p: '450.- CHF'}) %>

        <!-- Quel arancion in stanza da Jan -->
        <%- include('card.ejs', {id: 2, title: '70cm x 46cm', p: '200.- CHF'}) %>

        <!-- Quel ner in stanza da Jan -->
        <%- include('card.ejs', {id: 1, title: '90cm x 40cm', p: '150.- CHF'}) %>

        <!-- Quel ner da Bianca -->
        <%- include('card.ejs', {id: 4, title: '120cm x 80cm', p: '400.- CHF'}) %>

      </section>
    </div>

    <section class="footer">
      <p id="description">Contattaci su instagram per ordinare un quadro su misura!</p>

      <a href="https://www.instagram.com/jc_fc_paintings/" target="_blank">
        <picture>
          <source srcset="/img/insta_dark.png" media="(prefers-color-scheme: dark)">
          <img class="insta" src="/img/insta.png">
        </picture>
      </a>
    </section>

  </body>
</html>